@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {}

@utility container {
  margin: 0 auto;

  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 70rem;
  }
  @media (width >= 96rem) {
    max-width: 70rem;
  }
}

.horizontal-divider-wrapper {
  color: #fff;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
  position: relative;
  overflow: visible;
}

.horizontal-divider {
  background-color: #e8ecf1;
  align-self: center;
  width: 100%;
  height: 1px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}